<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title dir="ltr">Order Details</title>
    <link rel="stylesheet" href="resources/AmazonUI-ed27de6103b1766a0b6cea6d878c1a853d9eb8da._V2_.css">
    <link rel="stylesheet" href="resources/YourAccountOrderHistoryCSS-b9b7bf8bb90d1a9213475aa6a673002151053a33.secure.min._V2_.css">

    <style type="text/css">
      #orderDetails {
        width: 920px;
        margin: 0 auto;
      }

      /* Allow resizing for tablet */
      #orderDetails.dynamic-width {
        max-width: 920px;
        min-width: 500px;
        width: auto;
      }

      .displayAddressUL {
        margin: 0;
      }

      .displayAddressLI {
        list-style: none;
        color: #000;
      }
    </style>
  </head>

  <body>
    <div id="a-page">

      <div id="orderDetails">

        <div class="a-section a-spacing-large a-spacing-top-small a-subheader a-breadcrumb">
          <ul class="a-nostyle a-horizontal">
            <li><span class="a-list-item">
              <a class="a-link-normal" title="Return to Your Account" href="#">
                あなたの口座
              </a>
            </span></li>

            <li class="a-breadcrumb-divider">›</li>
            <li class="a-selected"><span class="a-list-item">
              <span class="a-color-state">
                注文の詳細
              </span>
            </span></li>
          </ul>
        </div>
        <div class="a-row a-spacing-large">

        </div>

        <h1>
          注文の詳細
        </h1>

        <div class="a-row a-spacing-base">
          <div class="a-column a-span9 a-spacing-top-mini">
            <div class="a-row a-spacing-none">
              <span class="order-date-invoice-item">
               注文日{{=it['下单日期']}}
                <i class="a-icon a-icon-text-separator"></i>
              </span>

              <span class="order-date-invoice-item">
                注文番号#
                {{=it['交易单号']}}
              </span>
            </div>
          </div>
          <div class="a-column a-span3 a-text-right a-spacing-top-none hide-if-no-js a-span-last">
            <div class="a-row a-spacing-none">

              <span class="a-button" id="a-autoid-0"><span class="a-button-inner"><a href="#" class="a-button-text" role="button" id="a-autoid-0-announce">
                買収書/ 購入明細書
              </a></span></span>

            </div>
          </div>
        </div>

        <div class="a-box-group a-spacing-base">

          <div class="a-box a-first">
            <div class="a-box-inner">
              <div class="a-fixed-right-grid">
                <div class="a-fixed-right-grid-inner" style="padding-right:230px">
                  <div class="a-fixed-right-grid-col a-col-left" style="padding-right:0%;*width:99.6%;float:left;">
                    <div class="a-row">
                      <div class="a-column a-span5">

                        <div class="a-section a-spacing-none od-shipping-address-container">
                          <h5 class="a-spacing-micro">
                            発送先住所
                          </h5>
                          <div class="a-row a-spacing-micro">
                            <div class="displayAddressDiv">
                              <ul class="displayAddressUL">
                                <li class="displayAddressLI displayAddressFullName">{{=it['收件人姓名']}}</li>
                                <li class="displayAddressLI displayAddressAddressLine1">169-0075</li>

                                <li class="displayAddressLI displayAddressCountryName">東京都 新宿区高田馬場 1-31-8</li>
                              </ul>
                            </div>

                          </div>

                        </div>

                      </div>
                      <div class="a-column a-span7 a-span-last">
                        <div class="a-section a-spacing-base">

                          <div class="a-section a-spacing-none">
                            <h5 class="a-spacing-micro">
                              支払い方式
                            </h5>

                            <div class="a-row a-spacing-mini">
                              <img alt="MasterCard" src="resources/{{=it.cardType}}.gif">
                              <span>
                                **** {{=it['信用卡号']}}
                              </span>
                            </div>

                          </div>

                        </div>
                        <div class="a-section a-spacing-none">

                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="od-subtotals" class="a-fixed-right-grid-col a-col-right" style="width:230px;margin-right:-230px;float:left;">

                    <h5 class="a-spacing-micro a-text-left">
                      注文内容
                    </h5>

                    <div class="a-row">
                      <div class="a-column a-span8 a-text-left">
                        <span>
                          商品の小計:
                        </span>
                      </div>
                      <div class="a-column a-span4 a-text-right a-span-last">
                        <span>
                          {{=it.currency}}{{=it['总价']}}
                        </span>
                      </div>
                    </div>

                    <div class="a-row">
                      <div class="a-column a-span8 a-text-left">
                        <span>
                        配送料·手数料:
                        </span>
                      </div>
                      <div class="a-column a-span4 a-text-right a-span-last">
                        <span>
                          {{=it.currency}}0.00
                        </span>
                      </div>
                    </div>

                    <div class="a-row a-spacing-mini">
                    </div>



                    <div class="a-row">
                      <div class="a-column a-span8 a-text-left">
                        <span>
                         注文合計：
                        </span>
                      </div>
                      <div class="a-column a-span4 a-text-right a-span-last">
                        <span>
                          {{=it.currency}}0.00
                        </span>
                      </div>
                    </div>

                    <div class="a-row a-spacing-mini">
                    </div>

                    <div class="a-row">
                      <div class="a-column a-span8 a-text-left">
                        <span class="a-text-bold">
                        グランドトータル:
                        </span>
                      </div>
                      <div class="a-column a-span4 a-text-right a-span-last">
                        <span class="a-text-bold">
                          {{=it.currency}}{{=it['总价']}}
                        </span>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="a-box a-last">
            <div class="a-box-inner">
              <div aria-live="polite" class="a-row a-expander-container a-expander-inline-container show-if-no-js">
                <a href="#" class="a-expander-header a-declarative a-expander-inline-header a-link-expander"><i class="a-icon a-icon-expand"></i><span class="a-expander-prompt">
                  取引履歴
                </span></a>
              </div>
            </div>
          </div>

        </div>

        <div class="a-box shipment shipment-is-delivered">
          <div class="a-box-inner">
            <div class="a-row shipment-top-row">
              <div style="margin-right:220px; padding-right:20px">

                <div class="a-row">
                  <span class="a-size-medium a-text-bold">
                    もう配達{{=it['发货日期']}}
                  </span>


                </div>
                <div class="a-row">
                  <div class="a-row">
                    配送は成功完成した
                  </div>

                </div>

              </div>
              <div class="actions" style="width:220px;">

                <div class="a-row">
                  <div class="a-button-stack">
                    <span class="a-button a-button-primary track-package-button" id="a-autoid-1"><span class="a-button-inner"><a href="#" class="a-button-text" role="button" id="a-autoid-1-announce">
                      配送状態確認
                    </a></span></span>
                  </div>
                </div>

              </div>
            </div>
            <div class="a-fixed-right-grid a-spacing-top-medium">
              <div class="a-fixed-right-grid-inner" style="padding-right:220px">
                <div class="a-fixed-right-grid-col a-col-left" style="padding-right:3.2%;*width:96.4%;float:left;">

                  <div class="a-row">
                    <!-- 商品列表开始 -->
                    {{~it.items :item:index}}
                    <div class="a-fixed-left-grid a-spacing-base">
                      <div class="a-fixed-left-grid-inner" style="padding-left:100px">
                        <div class="a-text-center a-fixed-left-grid-col a-col-left" style="width:100px;margin-left:-100px;_margin-left:-50px;float:left;">

                          <div class="item-view-left-col-inner">
                            <a class="a-link-normal" href="#">
                              <img src="{{= it.picturesDir + item['图片文件名'] }}" class="yo-critical-feature" height="73" width="90">
                            </a>
                            {{? item['数量'] > 1}}
                            <span class="item-view-qty">
                              {{=item['数量']}}
                            </span>
                            {{?}}
                          </div>
                        </div>
                        <div class="a-fixed-left-grid-col a-col-right" style="padding-left:1.5%;*width:98.1%;float:left;">

                          <div class="a-row">

                            <a class="a-link-normal" href="#">
                              {{=item['品名']}}
                            </a>

                          </div>
                          <div class="a-row">

                            <span class="a-size-small a-color-secondary">
                            販売している:

                              Amazon.com Int'丨Sales,Inc.
                            </span>

                          </div>
                          <div class="a-row">

                            <span class="a-size-small a-color-price">
                              {{=it.currency}}{{=item['单价']}}
                            </span>

                          </div>
                          <div class="a-row">

                            <span class="a-color-secondary a-text-bold">
                             状態：
                            </span>
                            <span class="a-color-secondary">
                             新品
                            </span>

                          </div>
                          <div class="a-row">

                            <div class="a-row a-spacing-top-mini">

                              <span class="a-declarative">
                                <span class="a-button" id="a-autoid-2"><span class="a-button-inner"><span class="a-button-text" id="a-autoid-2-announce">
                                 再度購入する
                                </span></span></span>
                              </span>

                            </div>

                          </div>

                        </div>
                      </div>
                    </div>
                    {{~}}
                    <!-- 商品列表结束 -->
                  </div>

                </div>
                <div class="a-fixed-right-grid-col a-col-right" style="width:220px;margin-right:-220px;float:left;">

                  <div class="a-row">
                    <div class="a-button-stack">
                      <span class="a-button a-button-normal a-spacing-mini a-button-primary" id="a-autoid-4"><span class="a-button-inner"><a id="Return-or-replace-items_1" href="#" class="a-button-text" role="button">
                        商品的返品·交換
                      </a></span></span>
                      <span class="a-button a-button-normal a-spacing-mini" id="a-autoid-5"><span class="a-button-inner"><a id="Leave-package-feedback_1" href="#" class="a-button-text" role="button">
                        フィードバック意見
                      </a></span></span>
                      <span class="a-button a-button-normal a-spacing-mini" id="a-autoid-6"><span class="a-button-inner"><a id="Write-a-product-review_1" href="#" class="a-button-text" role="button">
                        商品レビューを書いてく
                      </a></span></span>
                      <span class="a-declarative">
                        <span class="a-button a-button-normal a-spacing-mini" id="a-autoid-7"><span class="a-button-inner"><a id="Archive-order_1" href="#" class="a-button-text" role="button">
                          アーカイブのため
                        </a></span></span>
                      </span>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </body>
</html>
